@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Videoclub</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Bienvenido al videoclub UPV</h2>
        <p>
            Disfruta de nuestro gran proyecto realizado en la asignatura de ISI
        </p>
    </div>
</div>